<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="博客">
  <meta name="description" content="个人博客，记录博主学习和成长的一个自媒体博客。">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>个人博客</title>
  <link rel="stylesheet" href="/css/css.css">
  <link rel="stylesheet" href="/css/home.css">
</head>
<body class="body-bg" >
<div class="side-bar">
  <div class="face-wrapper">
    <div class="face"><img src="/images/face.jpg" width="100%"></div>
  </div>

  <div class="notes-wrapper">
    <p class="title">笔记归档：</p>
    <% for (var key in data.category) { %>
      <a href="/list/<%=key%>.html" class="tags"><%=data.category[key]%></a>
    <% } %>
  </div>

  <div class="btn-wrapper">
    <a class="links github" href="https://github.com/rockstone20" target="_blank">
      <span></span><br/>github
    </a>
    <a class="links zcool" href="http://www.zcool.com.cn/u/563022" target="_blank">
      <span></span><br/>站酷 zcool
    </a>
  </div>
</div>

<div class="content">
  <% for(var i=0; i<data.list.length; i++) { %>
    <div class="notes-item">
      <h3><a href="/detail/<%=data.list[i].id%>.html" target="_blank"><%=data.list[i].title%></a></h3>

      <% var imgs =  data.list[i].imgs_url.split(',')%>
      <% if (data.list[i].type == 'photos') {%>
        <div class="imgs">
          <% for (var j=0; j<imgs.length; j++) { %>
            <img src="<%=imgs[j]%>"/>
          <% } %>
        </div>
      <% } %>

      <p>
        <span class="icon <%=data.list[i].type%>"></span>
        <span class="note-type"><%=data.category[data.list[i].type]%></span>
        <span><%- data.list[i].articletype == "original" ? '原创文章' : '转载' %></span>
        <span>发布时间：<%=data.list[i].createtime%></span>
      </p>
    </div>
  <% } %>
</div>

<script src="/js/jquery-1.10.2.min.js"></script>
<script>

var category = <%- JSON.stringify(data.category)%> ;
var list = <%- JSON.stringify(data.list)%> ;
console.log(category);
console.log(list);

</script>

</body>
</html>