<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title><%=data.title%></title>
  <style>
      #list a{display:block;}
  </style>
</head>
<body>
<script>
  var arr = window.location.pathname.split('/');

  var title = '<%=data.title%>';
  var count = '<%=data.count%>';

  var list = <%- JSON.stringify(data.list) %> ;
  console.log(title);
  console.log(list);
  console.log(location);

</script>

<div>
<div>列表</div>
<%for (var i=0; i<data.list.length; i++) {%>
    <div class="itemBox">
        <h2><a href="/detail/<%=data.list[i].id%>.html" target="_blank"><%=data.list[i].title%></a></h2>
    </div>
<%}%>
</div>

<br>
<%
    var count = data.count; // 总数
    var page = Math.ceil(data.count / 5); //总页
    var nowpage = data.nowpage // 当前页
    var path = data.path // 路径
%>
<div class="pagebox">
    <% if(page>=5) {%>
        <% if(page==nowpage) {%>
            <a href="<%=path%>_<%=nowpage-4%>.html"><%=nowpage-4%></a>
        <% } %>
    <% } %>

    <% if(page>=4) {%>
        <% if(nowpage>=page-1) {%>
            <a href="<%=path%>_<%=nowpage-3%>.html"><%=nowpage-3%></a>
        <% } %>
    <% } %>

    <% if(nowpage>2) {%>
        <a href="<%=path%>_<%=nowpage-2%>.html"><%=nowpage-2%></a>
    <% } %>

    <% if(nowpage>=2) {%>
        <a href="<%=path%>_<%=nowpage-1%>.html"><%=nowpage-1%></a>
    <% } %>

    <a><%=nowpage%></a>

    <% if(page>=nowpage+1) {%>
        <a href="<%=path%>_<%=nowpage+1%>.html"><%=nowpage+1%></a>
    <% } %>

    <% if(page>=nowpage+2) {%>
        <a href="<%=path%>_<%=nowpage+2%>.html"><%=nowpage+2%></a>
    <% } %>

    <% if(page>nowpage+3) {%>
        <% if(nowpage<=2) {%>
            <a href="<%=path%>_<%=nowpage+3%>.html"><%=nowpage+3%></a>
        <% } %>
    <% } %>

    <% if(page>nowpage+4) {%>
        <% if(nowpage==1) {%>
            <a href="<%=path%>_<%=nowpage+4%>.html"><%=nowpage+4%></a>
        <% } %>
    <% } %>
</div>
<br>
<br>
<div id="list">

</div>

</body>
</html>